@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Trang Web Chuyên Nghiệp</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('https://cdn.discordapp.com/attachments/576949600402014210/1150077658072367164/original.jpg');
            margin: 0;
            padding: 0;
            background-size: cover; /* Thêm thuộc tính này để nền ảnh kích thước tốt hơn */
        }

        a {
            color: #fff;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }

        .container {
            max-width: 800px;
            margin: 0 auto;
            margin-top: 50px;
            padding: 20px;
            /* background-image: url(''); Bạn có thể xóa dòng này nếu không muốn background thêm hình ảnh */
            background-size: cover;
            text-align: left;
            color: #fff;
            margin-left: 55px;
            font-size: 25px;
        }

        h1 {
            color: white;
        }

        p {
            line-height: 1.5;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Student_manager-master</h1>
        <p>Your classroom app for fun, effective engagement and on-the-fly assessments.</p>
    </div>
</body>
</html>
